@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
    background-image: url("./img/background.png");
}
.main-outer{
    position: relative;
    display: inline-block;
}
.score-wrapper{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.score-outer{
    position: relative;
    height: 25px;
    width: 40%;
    border: 2px solid white;
    border-radius: 20px;
}
.score{
    height: 25px;
    background-color: red;
    width: 100%;
    border-radius: 20px;
}
.timer{
    width: 10%;
    height: 60px;
    background-color: black;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    font-family: 'Press Start 2P', cursive;
}
.starter_text{
    position: absolute;
    color: white;
    display: none;
    font-size: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}